<div id="page-contact">

  <div id="primary">
    <img src="img/PlanescapeTorment_02_1280x1024.jpg" alt="Company Logo"/>
  </div>

  <div id="secondary">
    <p>
      Most of the times when a weapon is needed it is already too late! Party is already on, baddies
      are all over you or your boss needs arms right now and not at some far-away time in the future.
    </p>
    <p>
      So what do you do when you feel like you may need a good quality weapon soon?
    </p>
    <p>
      You don't wait around! Pick up the phone, start writing a fresh email letter or visit our twitter for some additional info!
    </p>
    <ul class="contact-info">
      <li class="phone"><a href="tel:555-6425">555-6425</a></li>
      <li class="mail"><a href="mailto:swords@example.com">swords@example.com</a></li>
      <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=worlds">@swords</a></li>
    </ul>
  </div>

</div>