<div>

  <label for="search-field">Search:</label>
  <input ng-model="search" id="search-field" type="search">

  <p>Search by type:</p>
  <ul>
    <li ng-repeat="type in weaponTypes" ng-class="{ selected : currentType = type}" ng-click="selectType(type)">
      {{type}}
    </li>
  </ul>

  <h3>Catalogue</h3>

  <ul>
    <li ng-repeat="weapon in weapons | filter: {name:search} | filter: {type:currentType}">
      {{weapon.name}} <br/>
      {{weapon.type}} <br/>
      {{weapon.price}}
    </li>
  </ul>

</div>