/*******************************************
Global styles
********************************************/

body {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 0.9em;
}

h1,
h2,
h3 {
  font-family: 'Cinzel', serif;
}

a {
  text-decoration: none;
}

#wrapper {
  width: 95%;
  margin: 0 auto;
}

#body {
  margin: 20px 0;
}



/*******************************************
Header
********************************************/

main-header {
  margin-bottom: 3em;
}

#logo {
  text-align: center;
  margin-bottom: 2em;
}

#logo h1 {
  font-size: 3em;
  margin-top: 0.2em;
  margin-bottom: 0;
}

#logo h2 {
  position: inherit;
  margin-top: 0;
  font-size: 0.8em;
}



/*******************************************
Header - nav
********************************************/

nav {
  text-align: center;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0 0.1%;
  width: 74px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  color: #cccccc;
  background-color: #aaa;
  font-weight: bold;
  font-size: 2em;
  display: block;
  padding: 10px;
  margin: 0;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

nav a:hover,
nav a:focus,
nav a.selected {
  color: #fff;
  background-color: #777;
}

#private-cabinet {
  color: #000;
  background-color: #eee;
}

#private-cabinet:hover,
#private-cabinet:focus,
#private-cabinet.selected {
  border: 1px solid #000;
  border-radius: 0;
}

.tooltip {
  color: #fff;
  background-color: #fff;
  margin-top: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tooltip.selected {
  color: #fff;
  background-color: #777;
}



/*******************************************
Footer
********************************************/

footer {
  clear: both;
}

main-footer {
  text-align: center;
  margin-top: 40px;
  border-top: 2px solid #888;
  font-size: 0.7em;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 3px;
}



/*******************************************
Page - main
********************************************/

#intro {
  background-color: #fefeee;
  padding: 10px;
}

#cta {
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0 0.5em;
}

#cta-button {
  color: #fff;
  background-color: #f4a220;
  font-size: 1.5em;
  display: block;
  text-align: center;
  width: 200px;
  padding: 10px 0;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#cta-button:hover,
#cta-button:focus {
  color: #000;
  background-color: #f4b780;
}

#table-intro {
  text-align: center;
  margin-top: 2em;
}

table {
  margin: 1em auto;
}

table th,
table td {
  padding: 0.8em;
  border: 2px solid #fff;
}

table th {
  background-color: #ddd;
}

table td {
  background-color: #efefef;
}

table footer {
  font-style: italic;
}



/*******************************************
Page - catalogue
********************************************/

#search-field {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #aaa;
}

#search-title {
  display: inline-block;
  float: left;
}

sort-categories {
  float: right;
}

sort-categories ul,
weapon-list ul {
  list-style: none;
  padding: 0;
}

sort-categories li {
  color: #000;
  background-color: #eee;
  display: inline-block;
  padding: 10px;
  margin: 0 0.5em;
  border: 1px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

sort-categories li:last-child {
  margin-right: 0;
}

sort-categories li:hover,
sort-categories li:focus {
  border: 1px solid #000;
  border-radius: 0;
}

sort-categories li.selected {
  color: #eee;
  background-color: #666;
  border: 1px solid #000;
  border-radius: 0;
}

h3 {
  clear: both;
  text-align: center;
}

weapon-list li {
  background-color: #efefef;
  margin: 0.5em 0;
  padding: 0.5em;
  cursor: pointer;
}

weapon-list li span {
  font-weight: bold;
}

weapon-list li a:link,
weapon-list li a:visited {
  color: #000;
}



/*******************************************
Page - sign up
********************************************/

#form-page input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #aaa;
}

#form-page button {
  margin-top: 0.5em;
  width: 100%;
}

#form-page button {
  color: #000;
  background-color: #eee;
  padding: 10px;
  margin: 1em 0 0 0;
  border: 1px solid #fff;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#form-page button:hover,
#form-page button:focus {
  border: 1px solid #000;
  border-radius: 0;
}

#form-page button:active {
  color: #eee;
  background-color: #666;
}



/*******************************************
Page - contact
********************************************/

#primary img {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 120px;
}

#secondary ul {
  list-style: none;
  padding-left: 0;
}

#secondary a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 1.5em;
  margin: 0 0 0.5em;
}

#secondary .phone a {
  background-image: url("../img/phone.png");
}

#secondary .mail a {
  background-image: url("../img/mail.png");
}

#secondary .twitter a {
  background-image: url("../img/twitter.png");
}



/*******************************************
Page - private cabinet
********************************************/

#page-cabinet button {
  width: 100%;
}