/*******************************************
Page - main
********************************************/

@media screen and (min-width: 450px) {

  #intro {
    width: 400px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {

  #page-main .primary {
    display: inline-block;
    float: left;
    width: 45%;
    margin: 0 1% 0 4%;
  }

  #page-main .primary #intro {
    width: auto;
  }

  #page-main .primary #cta {
    margin-top: 3em;
  }

  #page-main .secondary {
    display: inline-block;
    float: right;
    width: 45%;
    margin: 0 4% 0 1%;
  }

  .secondary #table-intro {
    margin-top: 0;
  }

  .secondary table {
    width: 100%;
  }
}



/*******************************************
Page - catalogue
********************************************/

@media screen and (min-width: 800px) {

  weapon-list li {
    display: inline-block;
    float: left;
    width: 25%;
    margin: 0 3%;
  }
}



/*******************************************
Page - sign up
********************************************/

@media screen and (min-width: 900px) {

  #form-page {
    width: 50%;
    margin: 0 auto;
  }
}



/*******************************************
Page - contact
********************************************/

@media screen and (min-width: 880px) {

  #primary {
    width: 20%;
    float: left;
    margin: 0 2.5%;
  }

  #primary img {
    /*width: 340px;*/
    /*height: 220px;*/
  }

  #secondary {
    width: 70%;
    float: right;
    margin: 0 2.5%;
  }

  #secondary p:first-child {
    margin-top: 0;
  }
}



/*******************************************
Page - catalogue
********************************************/

@media screen and (min-width: 1080px) {

  header {
    width: 1024px;
    padding-bottom: 1em;
    margin: 0 auto 4em;
    border-bottom: 1px solid #ccc;
  }

  #logo {
    display: inline-block;
    width: 35%;
    margin-bottom: 0;
  }

  #logo h1 {
    margin-top: 0.7em;
  }

  nav {
    display: inline-block;
    float: right;
    text-align: right;
    width: 60%;
  }

  nav li {
    text-align: center;
  }
}