/*******************************************
Page - main
********************************************/

@media screen and (min-width: 450px) {

  #intro {
    width: 400px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {

  #page-main .primary {
    display: inline-block;
    float: left;
    width: 45%;
    margin: 0 1% 0 4%;
  }

  #page-main .primary #intro {
    width: auto;
  }

  #page-main .primary #cta {
    margin-top: 3em;
  }

  #page-main .secondary {
    display: inline-block;
    float: right;
    width: 45%;
    margin: 0 4% 0 1%;
  }

  .secondary #table-intro {
    margin-top: 0;
  }

  .secondary table {
    width: 100%;
  }
}



/*******************************************
Page - catalogue
********************************************/

/*@media screen and (min-width: 800px) {*/

  /*#page-catalogue {*/
    /*width: 60%;*/
    /*margin: 0 auto;*/
  /*}*/
/*}*/

/*@media screen and (min-width: 1200px) {*/

  /*#page-catalogue {*/
    /*width: 40%;*/
    /*margin: 0 auto;*/
  /*}*/
/*}*/

@media screen and (min-width: 800px) {

  weapon-list li {
    display: inline-block;
    float: left;
    width: 25%;
    margin: 0 3%;
  }
}


/*******************************************
Page - sign up
********************************************/

@media screen and (min-width: 800px) {

  #form-page {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {

  #form-page {
    width: 40%;
    margin: 0 auto;
  }
}



/*******************************************
Page - contact
********************************************/

@media screen and (min-width: 800px) {

  #page-contact {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {

  #page-contact {
    width: 40%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1500px) {

  #primary {
    width: 20%;
    float: left;
    margin: 0 2.5%;
  }

  #primary img {
    /*width: 340px;*/
    /*height: 220px;*/
  }

  #secondary {
    width: 70%;
    float: right;
    margin: 0 2.5%;
  }

  #secondary p:first-child {
    margin-top: 0;
  }
}