<div>

  <div id="intro">
    Swords & axes ... but also spears, maces, flails, warhammers, rapiers, daggers, stilletos and everything else
    that can be considered a melee weapon - that's all we have! And sometimes we offer true masterpieces!
  </div>

  <div id="cta">Check out our new masterpiece!</div>
  <a id="cta-button" href="#/catalogue">Buy it now!</a>

  <div id="table-intro">
    Compare our simple broadsword to what competitors offer:
  </div>

  <table>
    <caption>Comparison table</caption>
    <thead>
      <tr>
        <th scope="col">Smithy</th>
        <th scope="col">Master</th>
        <th scope="col">Cutting</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4">Data is updated every 15 minutes.</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th scope="row">Swords & Axes</th>
        <td>Hashimoto Yoji</td>
        <td>7.0</td>
        <td>1200 v</td>
      </tr>
      <tr>
        <th scope="row">Oriental Steel</th>
        <td>Yao Gun</td>
        <td>6.0</td>
        <td>1000 v</td>
      </tr>
      <tr>
        <th scope="row">Meteorite Strike</th>
        <td>Derek Siefer</td>
        <td>5.0</td>
        <td>800 v</td>
      </tr>
    </tbody>
  </table>

</div>