<div id="page-main">

  <div class="primary">
    <div id="intro">
      Swords & axes ... but also spears, maces, flails, warhammers, rapiers, daggers, stilletos and everything else
      that can be considered a melee weapon - that's all we have! And sometimes we offer true masterpieces!
    </div>
    <div id="cta">Enter our new masterpiece!</div>
    <a id="cta-button" href="#/catalogue">Buy it now!</a>
  </div>

  <div class="secondary">
    <div id="table-intro">
      Compare our simple broadsword to what competitors offer:
    </div>
    <comparison-table list="list"></comparison-table>
  </div>

</div>

<main-footer></main-footer>
